.add-form {
    background: #E9EAED;
    border-radius: 5px;
    box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
    button {
        background: #22BA9A;
    }
    label {
        font-size: 0.8rem;
        line-height: 1rem;
    }
}